<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.xinChat.mapper.ChatSessionUserMapper">

    <resultMap id="BaseResultMap" type="com.xin.xinChat.model.entity.ChatSessionUser">
            <id property="userId" column="userId" jdbcType="VARCHAR"/>
            <id property="contactId" column="contactId" jdbcType="VARCHAR"/>
            <result property="sessionId" column="sessionId" jdbcType="VARCHAR"/>
            <result property="contactName" column="contactName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,contactId,sessionId,
        contactName
    </sql>

    <select id="selectChatSessionContactList" resultType="com.xin.xinChat.model.entity.ChatSessionUser">
        SELECT
            u.*,
            c.lastMessage,
            c.lastReceiveTime,
            CASE
                WHEN SUBSTRING(u.contactId, 1, 1) = 'G'
                    THEN (SELECT COUNT(1) FROM userContact uc WHERE u.contactId = uc.contactId)
                ELSE 0
                END AS memberCount,
            CASE
                WHEN SUBSTRING(u.contactId, 1, 1) = 'G'
                    THEN (SELECT g.groupAvatar FROM groupInfo g WHERE u.contactId = g.groupId)
                ELSE (SELECT us.userAvatar FROM user us WHERE us.id = u.contactId)
                END AS avatar
        FROM
            ChatSessionUser u
                LEFT JOIN
            ChatSession c ON c.sessionId = u.sessionId
        WHERE
            u.userId = #{userId}
        ORDER BY
            c.lastReceiveTime DESC
    </select>

    <!-- 批量插入或更新 -->
    <insert id="insertOrUpdateBatch">
        INSERT INTO ChatSessionUser (userId, contactId, sessionId,contactName)
        VALUES
        <foreach collection="chatSessionUserList" item="item" index="index" separator=",">
            (#{item.userId},#{item.contactId}, #{item.sessionId},#{item.contactName})
        </foreach>
        ON DUPLICATE KEY UPDATE
        sessionId = VALUES(sessionId),
        contactName = VALUES(contactName)
    </insert>

    <insert id="insertOrUpdate">
        INSERT INTO ChatSessionUser (userId, contactId, sessionId,contactName)
        VALUES
            (#{chatSessionUser.userId},#{chatSessionUser.contactId}, #{chatSessionUser.sessionId},#{chatSessionUser.contactName})
        ON DUPLICATE KEY UPDATE
        sessionId = VALUES(sessionId),
        contactName = VALUES(contactName)
    </insert>
</mapper>
