<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.xinChat.mapper.ChatMessageMapper">

    <resultMap id="BaseResultMap" type="com.xin.xinChat.model.entity.ChatMessage">
        <id property="messageId" column="messageId" jdbcType="BIGINT"/>
        <result property="sessionId" column="sessionId" jdbcType="VARCHAR"/>
        <result property="messageType" column="messageType" jdbcType="TINYINT"/>
        <result property="messageContent" column="messageContent" jdbcType="VARCHAR"/>
        <result property="sendUserId" column="sendUserId" jdbcType="VARCHAR"/>
        <result property="sendUserName" column="sendUserName" jdbcType="VARCHAR"/>
        <result property="sendTime" column="sendTime" jdbcType="BIGINT"/>
        <result property="contactId" column="contactId" jdbcType="VARCHAR"/>
        <result property="contactType" column="contactType" jdbcType="TINYINT"/>
        <result property="fileSize" column="fileSize" jdbcType="BIGINT"/>
        <result property="fileName" column="fileName" jdbcType="VARCHAR"/>
        <result property="fileType" column="fileType" jdbcType="TINYINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        messageId
        ,sessionId,messageType,
        messageContent,sendUserId,sendUserName,
        sendTime,contactId,contactType,
        fileSize,fileName,fileType,
        status
    </sql>
</mapper>
