<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.xinChat.mapper.UserContactApplyMapper">

    <resultMap id="BaseResultMap" type="com.xin.xinChat.model.entity.UserContactApply">
            <id property="applyId" column="applyId" jdbcType="INTEGER"/>
            <result property="applyUserId" column="applyUserId" jdbcType="VARCHAR"/>
            <result property="receiveUserId" column="receiveUserId" jdbcType="VARCHAR"/>
            <result property="contactType" column="contactType" jdbcType="TINYINT"/>
            <result property="contactId" column="contactId" jdbcType="VARCHAR"/>
            <result property="lastApplyTime" column="lastApplyTime" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="applyInfo" column="applyInfo" jdbcType="VARCHAR"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        applyId,applyUserId,receiveUserId,
        contactType,contactId,lastApplyTime,
        status,applyInfo,isDelete
    </sql>

    <select id="selectUserContactApplyWithPage" resultType="com.xin.xinChat.model.entity.UserContactApply">
        SELECT a.*,
               CASE
                   WHEN a.contactType = 0 THEN u.userName
                   WHEN a.contactType = 1 THEN g.groupName
                   END AS contactName,
               CASE
                   WHEN a.contactType = 0 THEN u.userAvatar
                   WHEN a.contactType = 1 THEN g.groupAvatar
                   END AS avatar
        FROM userContactApply a
                 LEFT JOIN user u ON u.id = a.applyUserId
                 LEFT JOIN groupInfo g ON a.contactId = g.groupId AND a.contactType = 1
        where a.receiveUserId = #{receiveUserId}
        ORDER BY a.lastApplyTime DESC
    </select>





</mapper>
