<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.xinChat.mapper.UserContactMapper">

    <resultMap id="BaseResultMap" type="com.xin.xinChat.model.entity.UserContact">
            <id property="userId" column="userId" jdbcType="VARCHAR"/>
            <id property="contactId" column="contactId" jdbcType="VARCHAR"/>
            <result property="contactType" column="contactType" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,contactId,contactType,
        createTime,status,updateTime,
        isDelete
    </sql>


    <select id="selectUserFriend" resultType="com.xin.xinChat.model.entity.UserContact">
        SELECT c.*, u.userName AS contactName, u.sex
        FROM userContact c
        INNER JOIN user u ON c.contactId = u.id
        WHERE c.userId = #{userId}
        AND c.contactType = #{contactType}
        AND c.isDelete = 0
        <if test="status != null and status.length > 0">
            AND c.status IN
            <foreach item="item" index="index" collection="status" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectMyJoinGroup" resultType="com.xin.xinChat.model.entity.UserContact">
        select c.* , g.groupName contactName from userContact c
        inner join groupInfo g on c.contactId = g.groupId
        where c.userId = #{userId} and c.contactType = #{contactType} and c.isDelete = 0
        and g.groupOwnerId != #{userId}
        <if test="status != null and status.length > 0">
            AND c.status IN
            <foreach item="item" index="index" collection="status" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
