<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.xinChat.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.xin.xinChat.model.entity.User">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="email" column="Email" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="joinType" column="joinType" jdbcType="TINYINT"/>
            <result property="sex" column="Sex" jdbcType="TINYINT"/>
            <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
            <result property="userProfile" column="userProfile" jdbcType="VARCHAR"/>
            <result property="userRole" column="userRole" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="lastLoginTime" column="lastLoginTime" jdbcType="TIMESTAMP"/>
            <result property="areaName" column="areaName" jdbcType="VARCHAR"/>
            <result property="areaCode" column="areaCode" jdbcType="VARCHAR"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="lastOffTime" column="lastOffTime" jdbcType="BIGINT"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,Email,userPassword,
        userName,joinType,Sex,
        userAvatar,userProfile,userRole,
        createTime,lastLoginTime,areaName,
        areaCode,updateTime,lastOffTime,
        isDelete
    </sql>
</mapper>
