<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.xinChat.mapper.UserBeautyMapper">

    <resultMap id="BaseResultMap" type="com.xin.xinChat.model.entity.UserBeauty">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userId" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,status,
        email
    </sql>
</mapper>
